/* Fonts */

@font-face {
  font-family: "SchoolBook";
  src: url(../fonts/SchoolBook/schoolbook.woff2) format("woff2"),
    url(../fonts/SchoolBook/schoolbook.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SchoolBook";
  src: url(../fonts/SchoolBook/schoolbook-bold.woff2) format("woff2"),
    url(../fonts/SchoolBook/schoolbook-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SchoolBook";
  src: url(../fonts/SchoolBook/schoolbook-bold-italic.woff2) format("woff2"),
    url(../fonts/SchoolBook/schoolbook-bold-italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SchoolBook";
  src: url(../fonts/SchoolBook/schoolbook-italic.woff2) format("woff2"),
    url(../fonts/SchoolBook/schoolbook-italic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Futura New";
  src: url(../fonts/FuturaNew/FuturaNew.woff2) format("woff2"),
    url(../fonts/FuturaNew/FuturaNew.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura New";
  src: url(../fonts/FuturaNew/FuturaNewBold.woff2) format("woff2"),
    url(../fonts/FuturaNew/FuturaNewBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Global */

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $font-school;
  color: $black;
}

h1 {
  font-size: 40px;
  line-height: 50px;

  @media (min-width: $desktop) {
    font-size: 60px;
    line-height: 70px;
  }
  @media (min-width: $full-hd) {
    font-size: 80px;
    line-height: 110px;
  }
}

h2,
h3 {
  line-height: 40px;
}

h2 {
  font-size: 40px;
  @media (max-width: $mobail-only) {
    font-size: 25px;
    line-height: 30px;
  }
}

h3 {
  font-size: 30px;
  @media (max-width: $mobail-only) {
    font-size: 20px;
    line-height: 30px;
  }
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: $font-futura;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: $font-futura;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  background-color: $bg-white;
  color: $brown;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  @media (max-width: $tablet-max) {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1920px;

  @media (min-width: $tablet) {
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 0 80px;
  }

  @media (min-width: $full-hd) {
    padding: 0 230px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.avatar {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 130px;
  height: 130px;
  margin: 0 auto 10px;
  border-radius: 50%;
  object-fit: cover;
  text-indent: -100vw;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-price;
    background-image: url("../img/avatar-preview.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
