$font-futura: "Futura New", "SchoolBook", "Arial", sans-serif;
$font-school: "SchoolBook", "Futura New", "Arial", sans-serif;

$mobail: 320px;
$mobail-only: 767px;
$tablet: 768px;
$tablet-max: 1199px;
$desktop: 1200px;
$hd: 1280px;
$full: 1600px;
$full-hd: 1920px;
