.about-company {
  background-color: $bg-history;
  padding: 180px 0 206px;
  min-width: 0;
}

.about-company__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.about-company__title {
  margin: 0;
  margin-bottom: 48px;
}

.about-company__history {
  max-width: 479px;
  margin: 0;
  margin-bottom: 36px;
}

.about-company__link {
  line-height: 20px;
  font-weight: 700;
  color: $orange;
  text-transform: uppercase;
}

.about-company__history-link {
  margin-bottom: 100px;
}
