.all-services {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: $bg-price;
  overflow: hidden;
}

.all-services__title {
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: 400;
}

.all-services__list {
  display: block;
  width: 109%;

  @media (min-width: $full-hd) {
    width: 120%;
  }
}

.all-services__list .services__item {
  margin: 10px;

  @media (max-width: $mobail-only) {
    width: 260px;
  }
}
