.app {
  background-color: $orange;
}

.app__wrapper {
  padding: 50px 20px;

  @media (min-width: $tablet) {
    padding: 150px 50px;
  }

  @media (min-width: $desktop) {
    position: relative;
    z-index: 0;
    padding: 251px 230px 346px;
    max-width: $full-hd;
  }
}

.app__title {
  color: $white;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop) {
    font-size: 80px;
    line-height: 110px;
  }
}

.app__title-small-word {
  display: block;
  font-family: $font-futura;
  font-size: 15px;
  line-height: 15px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    font-size: 30px;
  }
}

.app__img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  height: auto;

  @media (min-width: $desktop) {
    max-width: 100%;
  }

  @media (min-width: $full) {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  @media (min-width: $full-hd) {
    right: 10%;
    z-index: 0;
  }
}
