.change-city {
  color: $orange;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 29px;
    margin-right: 10px;
    background-image: url("../img/change-city-icon.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    &::before {
      margin-right: 19px;
    }
  }
}
