.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  @media (max-width: $tablet-max) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: $bg-white;
  }

  @media (min-width: $desktop) {
    margin-bottom: 130px;
    padding-top: 65px;
  }

  @media (min-width: $full-hd) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.header__logo {
  @media (min-width: $desktop) {
    width: 79px;
    height: 63px;
  }
}

.header__therapy {
  @media (min-width: $desktop) {
    margin-bottom: 76px;
  }
}
