.menu {
  @media (max-width: $tablet-max) {
    order: -1;
  }

  @media (min-width: $full-hd) {
    width: 100%;
    margin-left: 235px;
  }
}

.menu__button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;

  @media (min-width: $desktop) {
    display: none;
  }
}

.menu__button--open,
.menu__button--close {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 22px;
    width: 36px;
    height: 3px;
    background-color: $orange;
    box-shadow: 0 8px 0 0 $orange, 0 16px 0 0 $orange;

    @media (min-width: $tablet) {
      left: 42px;
    }
  }
}

.menu__button--close {
  &::before,
  &::after {
    top: 40px;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-max) {
    display: none;
    position: fixed;
    top: 80px;
    border-radius: 12px;
    background: rgba($color: $brown-light, $alpha: 0.9);
    overflow: hidden;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;
  }

  @media (min-width: $full-hd) {
    width: 941px;
  }
}

.menu__list--open {
  @media (max-width: $tablet-max) {
    display: block;
  }
}

.menu__item {
  @media (max-width: $tablet-max) {
    text-align: center;
    border-bottom: 1px solid $brown;

    &:last-child {
      border: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 10px 20px 10px 0;

    &:last-child {
      padding-right: 0;
    }
  }

  @media (min-width: $full-hd) {
    padding-right: 30px;
  }
}

.menu__link {
  line-height: 20px;
  font-weight: 700;
  color: $brown;
  text-transform: uppercase;
  display: block;
  padding: 15px 25px;

  @media (max-width: $tablet-max) {
    &:hover {
      background-color: $orange;
    }
  }

  @media (min-width: $desktop) {
    color: $brown-light;
    padding: 0;

    &:hover {
      color: $brown;
    }
  }
}

.menu__link--active {
  color: $orange;

  &:hover {
    background-color: inherit;
  }

  @media (min-width: $desktop) {
    color: $brown;
  }
}

.menu__submenu-parent {
  position: relative;

  &:hover .menu__submenu,
  &:focus-within .menu__submenu {
    display: block;
  }
}

.menu__submenu {
  padding: 0;

  @media (min-width: $desktop) {
    display: none;
    position: absolute;
    left: -50px;
    z-index: 1;
    margin-top: 10px;
    padding: 40px 50px;
    min-width: 300px;
    background-color: $white;
    box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
    border-radius: 20px;
  }
}

.munu__submenu-item {
  list-style: none;
  margin-bottom: 10px;

  @media (min-width: $desktop) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu__submenu-link {
  color: $black;

  &:hover {
    transition: padding 0.3s;
    padding-left: 10px;
    font-weight: 700;
  }
}
