.services__wrapper {
  max-width: 1352px;
  margin: 0 auto 150px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  width: 100%;
  max-width: 280px;
  background: $white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  @media (min-width: $tablet) {
    max-width: 320px;
  }
}

.services__link {
  color: $brown;

  &:hover .services__img {
    fill: $brown;
  }
}

.services__cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 220px;
  padding: 24px;
}

.services__img {
  display: block;
  position: absolute;
  right: 24px;
  bottom: 24px;
  fill: $orange;
}

.services__title {
  margin: 0;
  margin-bottom: 15px;
  color: $brown;

  @media (max-width: $mobail-only) {
    font-size: 20px;
    line-height: 30px;
  }
}

.services__count-service {
  margin: 0;
  margin-bottom: 10px;
}
