.slider {
  display: flex;
  position: relative;
}

.slider--promo {
  margin-bottom: 50px;
  max-width: 1731px;

  @media (min-width: $tablet) {
    margin-bottom: 150px;
  }
}

.slider__button-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 10px 20px 0;

  @media (min-width: $tablet) {
    margin-right: 20px;
  }
}

.slider__button {
  color: $brown-light;
  width: 40px;
  height: 40px;

  &--active {
    color: $black;
    background-image: url("../img/slider-button.svg");
  }
}

.slider__main-content {
  flex-grow: 1;
  padding: 20px 5px;

  @media (min-width: $tablet) {
    padding: 20px 0 10px 30px;
  }
  @media (min-width: $desktop) {
    padding: 20px 0 10px 245px;
  }
}

.slider__slide {
  display: none;
}

.slider__slide--active {
  display: block;
}

.slider__title {
  font-weight: 400;
  color: $black;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  @media (min-width: $tablet) {
    font-size: 50px;
    line-height: 80px;
  }

  @media (min-width: $desktop) {
    font-size: 80px;
    line-height: 110px;
  }
}

.slider__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

  max-width: 50%;
  height: auto;

  @media (min-width: $desktop) {
    max-width: 100%;
    height: auto;
  }
}

.slider__entry {
  margin-bottom: 100px;

  @media (min-width: $tablet) {
    margin-bottom: 197px;
  }
}

.slider__contacts {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.slider__tel {
  font-weight: 700;
  color: $brown;
  display: block;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
