.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 10px;
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 50px;
    margin-bottom: 10px;
  }
}

.social__link {
  display: block;
}

.social__icon {
  display: inline-block;
  vertical-align: middle;
}

.social--slider .social__icon {
  fill: $brown-light;
}

.social--slider .social__icon:hover {
  fill: $brown;
}

.social__list--slider {
  @media (max-width: $mobail-only) {
    margin-bottom: 50px;
  }
}
