.therapy-price-info-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.therapy-price__accent-sentence {
  display: block;
  margin-bottom: 20px;
  font-style: normal;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.therapy-price__pagination-list {
  display: flex;
  justify-content: flex-end;
}

.therapy-price__pagination-item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.therapy-price__pagination-link {
  color: $brown-light;
}

.therapy-price__pagination-link--active {
  color: $black;
}

.therapy-price__list {
  margin: 0;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.therapy-price__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 15px;

  &:nth-child(odd) {
    background-color: $bg-price;
  }

  @media (min-width: $desktop) {
    padding: 14px 30px;
  }
}

.therapy-price__description {
  flex-grow: 1;
  width: 60%;
}

.therapy-price__price {
  margin: 0;
}
