.therapy-main-content__wrapper {
  margin-bottom: 50px;
}

.therapy-main-content__title,
.therapy-main-content__info {
  margin-bottom: 20px;
}

.therapy-main-content__title {
  font-size: 30px;
  font-weight: 400;
}

.therapy-main-content__title-list {
  margin-bottom: 0;
}

.therapy-main-content__image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
