.expert-reviews__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.expert-reviews__title {
  font-size: 30px;
  line-height: 40px;
}

.expert-reviews__count {
  color: $brown-light;
}

.expert-reviews__pagination {
  align-self: flex-end;
}

.expert-reviews__pagination-bottom {
  margin-top: 24px;
}
