.change-city {
  color: $orange;
  display: flex;
  align-items: center;

  &:hover {
    color: $brown;

    & .change-city__icon {
      fill: $brown;
    }
  }

  @media (min-width: $tablet) {
    &::before {
      margin-right: 19px;
    }
  }
}

.change-city__icon {
  fill: $orange;
  margin-right: 19px;
}
