.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  color: $brown-light;

  &:hover:not(.pagination__link--active) {
    color: $brown;
  }
}

.pagination__link--active {
  color: $black;
}
