.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  border-radius: 20px;
  overflow: hidden;
  color: $brown;

  &:last-of-type {
    margin-bottom: 58px;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 30px;
    max-width: 909px;
    max-height: 255px;
  }
}

.post__img {
  width: 255px;
  height: 255px;
  margin: 0;
  border-radius: 20px;
}

.post__img--news {
  &::after {
    background-image: url("../img/post-bg-img.jpg");
  }
}

.post__inner-wrapper {
  padding: 30px 0;
}

.post__date {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 15px;
  color: $brown-light;
}

.post__title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 50px;
}

.post__info {
  max-width: 594px;
  max-height: 100px;
  overflow: hidden;
  line-height: 25px;
}

.post__title,
.post__info {
  &--no-active {
    color: $brown-light;
  }
}

.post__title,
.post__info,
.post__img {
  &--no-active {
    opacity: 0.5;
  }
}
