.account-menu {
  @media (max-width: $tablet-max) {
    margin-bottom: 50px;
  }
}

.account-menu__title {
  margin-bottom: 20px;

  @media (min-width: $desktop) {
    margin-bottom: 100px;
  }
}

.account-menu__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.account-menu__link {
  font-weight: 700;
  text-transform: uppercase;
  color: $brown-light;

  &:hover {
    padding-left: 10px;
    transition: padding .3s;
    color: $brown;
  }
}
